<!doctype html>
<!--<html lang="ru" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">-->
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>USERS</title>
</head>
<body>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


<div class="container_fluid">
    <div class="row">
        <div class="col-1 bg-dark text-white">

        </div>
        <div class="col-10 bg-dark text-white">
            <strong class="navbar-text text-end">
                <a >user</a>
            </strong>
            with roles:
            <a >user</a>

        </div>
        <div class="col-1 bg-dark text-white">
            <a href="/logout" class="fw-weight-lighter text-end text-reset">Logout</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1">
        <ul class="nav flex-sm-column">
            <li class="nav-item">
                <a class="nav-link active bg-primary text-white" aria-current="page">Admin</a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/user">User</a>-->
<!--            </li>-->
        </ul>
    </div>
    <div class="col-11 bg-light">
        <h3>Панель администратора</h3>
        <div class="bd-example">
            <nav>
                <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                       aria-controls="nav-home" aria-selected="true">Таблица пользователей</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                       aria-controls="nav-profile" aria-selected="false">Новый пользователь</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <p><strong>Все пользователи</strong></p>

                <div class="container-fluid">

                    <div class="d-flex justify-content-left">
                        <div>
                            <table class="table table-striped" id="mainTableWithUsers">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Login</th>
                                    <th>Password</th>
                                    <th>Enabled</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <div class="row">
                        <div class="col"></div>

                        <!--форма заполнения нового пользователя-->
                        <div class="container-fluid">
                            <div class="d-flex justify-content-center">

                                <div class="form-group align-items-center">
                                    <form id="defaultSomeForm" >
                                        <input class="form-control" id="AddNewUserLogin" type="text" placeholder="username"><br>
                                        <input class="form-control" id="AddNewUserPassword" type="password" placeholder="password" autocomplete="off"><br>
                                        <input class="form-control" id="AddNewUserEnabled" type="text" placeholder="enabled"><br>
                                        <div class="d-flex flex-row bd-highlight">
                                            <div class="form-group">
                                                <label for="roles">Roles</label>
                                                <select class="custom-select bd-primary" multiple name="roles" id="roles">
                                                    <option value="1">USER</option>
                                                    <option value="2">ADMIN</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary mb-2" type="button" id="addNewUserButton">Add new user</button>
                                    </form>
<!--                                    <div class="p-2">-->
<!--                                        <button class="btn btn-outline-success" id="SliderNewUserForm">Show panel</button>-->
<!--                                    </div>-->
                                </div>

                            </div>
                        </div>

                        <!--скрытое модальное окно -->
<!--                        <div class="modal fade" id="someDefaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel" aria-hidden="true">-->
<!--                            <div class="modal-dialog">-->
<!--                                <div class="modal-content">-->

<!--                                    <div class="modal-header">-->
<!--                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                            <span aria-hidden="true">&times;</span>-->
<!--                                        </button>-->
<!--                                    </div>-->

<!--                                    <div class="modal-body">-->
<!--                                    </div>-->

<!--                                    <div class="modal-footer">-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--&lt;!&ndash;модальное окно редактирования пользователя &ndash;&gt;-->
<!--<div class="myEditForm">-->
<!--    <form class="col-3" >-->
<!--        <div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog"-->
<!--             aria-labelledby="exampleModalLabelEdit" aria-hidden="true">-->
<!--            <div class="modal-dialog" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="exampleModalLabelEdit">Редактирование</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->

<!--&lt;!&ndash;                        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                            <label for="username1" class="col-form-label">Логин:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                            <input name="username" type="text" id="username1">&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                            <label for="password1" class="col-form-label">Пароль:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                            <input type="password" class="form-control" id="password1" name="password" autocomplete="on">&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                            <label for="enabled1" class="col-form-label">Доступ:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                            <input type="text" class="form-control" id="enabled1" name="enabled">&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->

<!--&lt;!&ndash;                        <div class="d-flex flex-row bd-highlight">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                                <label for="roles1">Роли</label>&ndash;&gt;-->

<!--&lt;!&ndash;                                <select class="custom-select bd-primary" multiple name="roles1" id="roles1">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <option value="ROLE_USER">USER</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <option value="ROLE_ADMIN">ADMIN</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                </select>&ndash;&gt;-->

<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->

<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--&lt;!&ndash;                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="submit" id="upd" class="btn btn-success" value="Сохранить"/>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<!--&lt;!&ndash; Модальное окно по удалению пользователя &ndash;&gt;-->
<!--<div class="myDeleteForm">-->
<!--    <form>-->
<!--        <div class="modal fade" id="exampleModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelDelete" aria-hidden="true">-->
<!--            <div class="modal-dialog" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="exampleModalLabelDelete">Удаление</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->

<!--                        <div class="form-group">-->
<!--                            <label for="userName2" class="col-form-label">Логин:</label>-->
<!--                            <input name="userName" type="text" id="userName2">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>-->
<!--                        <input type="submit" class="btn btn-danger" value="Удалить"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </form>-->
<!--</div>-->

<!--скрытое дефолтное модальное окно -->
<div class="modal fade" id="someDefaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
            </div>

            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>

<!--<script src="webjars/jquery/3.5.1/jquery.js"></script>-->
<!--<script src="webjars/popper.js/1.16.0/umd/popper.js"></script>-->
<!--<script src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>-->
<!-- <script src="webjars/jquery/3.3.1/jquery.min.js"></script>-->
 <script type="text/javascript" src="/js/app.js"></script>

</body>
</html>