<!doctype html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>USERS</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container_fluid">
    <div class="row">
        <div class="col-1 bg-dark text-white">

        </div>
        <div class="col-10 bg-dark text-white">
            <strong class="navbar-text text-end">
                <a th:text="${currentusername}">user</a>
            </strong>
            with roles:
            <a th:text="${currentuserroles}">user</a>

        </div>
        <div class="col-1 bg-dark text-white">
            <a href="/logout" class="fw-weight-lighter text-end text-reset">Logout</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1">
        <ul class="nav flex-sm-column">
            <li class="nav-item">
                <a class="nav-link active bg-primary text-white" aria-current="page">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">User</a>
            </li>
        </ul>
    </div>
    <div class="col-11 bg-light">
        <h3>Панель администратора</h3>
        <div class="bd-example">
            <nav>
                <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                       aria-controls="nav-home" aria-selected="true">Таблица пользователей</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                       aria-controls="nav-profile" aria-selected="false">Новый пользователь</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <p><strong>Все пользователи</strong></p>
                    <table id="allUsersTable">
                        <tr>
                            <th width="200 px" height="50 px">Имя пользователя</th>
                            <th width="200 px" height="50 px">Доступ</th>
                            <th width="250 px" height="50 px">Роли</th>
                            <th width="100 px" height="50 px">Операции</th>
                        </tr>
                        <div th:each="user : ${usersAndRoles}">

                            <tr>
                                <td><a th:text="${user.username}">user</a></td>
                                <td><a th:text="${user.enabled}">user</a></td>
                                <td><a th:text="${user.roles}">roles</a></td>

                                <td>
                                    <form id="eBtnForm" th:action="@{/updateUser}" th:object="${user}">

                                        <button id="eBtn" type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#exampleModalEdit">Изменить
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form id="delBtnForm" th:action="@{/deleteUser}">
                                        <button id="delBtn" type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#exampleModalDelete">Удалить
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </div>
                    </table>

                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <div class="row">
                        <div class="col"></div>

                        <!--Форма ввода нового пользователя-->
                        <form class="col-2" th:action="@{/saveUser}" th:method="post" th:object="${user}"
                              th:align="center">
                            <div class="row">
                                <p><strong>Добавьте нового пользователя</strong></p>
                            </div>
                            <div class="row">
                                <div class="row">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"
                                                  id="inputGroup-sizing-sm1">Имя пользователя:</span>
                                        </div>
                                        <input name="userName" type="text" id="userName" th:value="${user.username}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm2">Пароль:</span>
                                        </div>
                                        <input type="password" th:field="${user.password}" id="password"
                                               class="form-control" aria-label="Small"
                                               aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm3">Доступ</span>
                                        </div>
                                        <input type="text" value="true" th:field="${user.enabled}" id="enabled"
                                               class="form-control" aria-label="Small"
                                               aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </div>
                                <div class="d-flex flex-row bd-highlight">
                                    <div class="form-group">
                                        <label for="role">Роли</label>

                                        <select class="custom-select bd-primary" multiple name="role" id="role"
                                                th:value="${role}">
                                            <option value="ROLE_USER">USER</option>
                                            <option value="ROLE_ADMIN">ADMIN</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row bd-highlight">
                                <button type="submit" class="btn btn-success">Создать</button>
                            </div>
                        </form>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--модальное окно редактирования пользователя -->
<div class="myEditForm">
    <form class="col-3" th:action="@{/api/users}" th:method="PUT">
        <div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabelEdit" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabelEdit">Редактирование</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="userName1" class="col-form-label">Логин:</label>
                            <input name="userName" type="text" id="userName1" th:value="${user.username}">
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Пароль:</label>
                            <input type="password" class="form-control" id="password1" name="password"
                                   th:value="${user.password}">
                        </div>
                        <div class="form-group">
                            <label for="enabled" class="col-form-label">Доступ:</label>
                            <input type="text" class="form-control" id="enabled1" name="enabled"
                                   th:value="${user.enabled}">
                        </div>

                        <div class="d-flex flex-row bd-highlight">
                            <div class="form-group">
                                <label for="role">Роли</label>

                                <select class="custom-select bd-primary" multiple name="role" id="role1"
                                        th:value="${role}">
                                    <option value="ROLE_USER">USER</option>
                                    <option value="ROLE_ADMIN">ADMIN</option>
                                </select>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <input type="submit" id="upd" class="btn btn-success" value="Сохранить"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Модальное окно по удалению пользователя -->
<div class="myDeleteForm">
    <form th:action="@{/api/users}" th:method="DELETE">

        <div class="modal fade" id="exampleModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelDelete" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabelDelete">Удаление</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="userName2" class="col-form-label">Логин:</label>
                            <input name="userName" type="text" id="userName2" th:value="${user.username}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <input type="submit" class="btn btn-danger" value="Удалить"/>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<script type="text/javascript">

    const urlFindByUsername = 'http://localhost:8080/api//findByUsername?username=';

    let allModalRegistration = () => {

    $(document).ready(function(){

        $('.table .eBtnForm .eBtn').on('click', function(event){
            event.preventDefault();
            console.log('====================Edit Modal Window opening')
            let href = $(this).attr('href');
            const username = $(this).attr('value');
            console.log('href1=' + href);
            console.log('value=' + username);
            href = urlFindById + username;
            console.log('href2=' + href)

            /*запрос JQuery к базе данных*/
            $.get(href, function(user, status){

                $('.myEditForm #userName1').val(user.username);
                $('.myEditForm #password1').val(user.password);
                $('.myEditForm #enabled1').val(user.enabled);
                $('.myEditForm #role1').val(user.role);
            });

            $('.myEditForm #exampleModalEdit').modal();
        });

        $('.table .delBtnForm .delBtn').on('click', function(event){
            event.preventDefault();
            console.log('===================Delete Modal Window opening')
            let href = $(this).attr('href');
            console.log('href1=' + href);
            const userId = $(this).attr('value');
            href = urlFindByUsername + username;
            console.log('href2=' + href);

            /*запрос JQuery к базе данных*/
            $.get(href, function(user, status){

                $('.myDeleteForm #username2').val(user.username);
                $('.myDeleteForm #password2').val(user.password);
                $('.myDeleteForm #enabled2').val(user.enabled);
                $('.myDeleteForm #role2').val(user.role);
            });

            $('.myDeleteForm #exampleModalDelete').modal();
        });

    });

}


    const urlFindAll = 'http://localhost:8080/api/allUsers';
    const usersTable = document.querySelector('#allUsersTable');
    let output = '';

    let fillTable = (users) => {
    output += `
            <table class="table caption-top">
                    <thead>
                      <tr>

                        <th scope="col">Логин</th>
                        <th scope="col">Роли</th>
                        <th scope="col">Редактировать</th>
                        <th scope="col">Удалить</th>
                      </tr>
                    </thead>
                    <tbody>
    `;

    users.forEach(user => {
    output += `
                    <tr>

                      <td th:utext="">${user.username}</td>
                      <td th:utext="">${user.role}</td>
                      <td>
                        <a th:href="@{/api/users/(id=${user.userName})}" class="btn btn-success eBtn" value="${user.userName}">Редактировать</a>
                      </td>
                      <td>
                        <a th:href="@{/api/users/(id=${user.userName})}" class="btn btn-danger delBtn" value="${user.userName}">Удалить</a>
                      </td>
                    </tr>
      `;
});

    output += `
    </tbody>
                  </table>
    `;
    usersTable.innerHTML = output;
}


    fetch(urlFindAll)
    .then(response => response.json())
    .then((data) => {
    fillTable(data);
    allModalRegistration();
});


</script>


</body>
</html>